<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AWSNumericUrlsQueue"   value="AppleStore_Step_3_Numbers" />
    <add key="AWSAppUrlsQueue"       value="AppleStore_Step_4_Urls" />
    <add key="MaxRetries"            value="10" />
    <add key="MaxMessagesPerDequeue" value="1" />
    <add key="AWSKey"                value="YOUR OWN AWS KEY" />
    <add key="AWSKeySecret"          value="YOUR OWN AWS SECRET KEY" />
  </appSettings>
</configuration>